/*-----font styles------*/
/* font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
/*-----font styles------*/
body{
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;  
}

/*-----header top part start----*/
.header-top{
    background:#f5f3f2;
    padding-top: 10px;
}
.header-icon{
    float:right;
    
}
.header-icon span{
    margin-left: 10px;
    display: inline-block;
}
/*-----header top part end----*/

/*-----navbar part start----*/
.navbar{
    padding: 36px 0;
}
.navbar-brand {
    padding-right: 60px;
}
.navbar-light .navbar-nav .nav-link {
    color: #5f768e;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-right:30px;
}
.search-field{
    padding-top: 20px;
}
.search-field .btn{
    padding: 0;
    background: #ffffff;
    color: #75889c;
}
.btn:focus, .btn:hover {
    text-decoration: none;
    background: none;
    color: #000000;
}

/* .search-field input{
    padding-top: 40px;
    position: relative;
    background: #ebe4e4;
}
.search-field button{
    position: absolute;
    top:32%;
    right: 9%;
}
.search-field .form-control{
    border: none;
}
.search-field .btn{
    border: none;
}
.btn:focus, .btn:hover {
    text-decoration: none;
    background: none;
} */
.banner{
    background: url(../images/slider01.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(48, 10, 102, 0.2);
}
.banner-content{
    position: relative;
    z-index: 99;
    padding-top: 280px;
    padding-bottom: 290px;
}
.banner-content h2{
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.banner-content p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    min-width: 950px;
    color: #75889c;
    padding: 15px 120px 65px 120px;
}
.banner-content a{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffffff;
    background: #00bc9c;
    padding: 25px 70px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.banner-content a:hover{
    color: aqua;
    background: #07947c;
}

/*-----slick slider-----*/
.banner-slider{
    z-index: 100;
}
.slick-dots{
    margin: 0 auto;
}
.slick-dots li{
    display: inline-block;
    padding-right: 10px;
    width: 15px;
    height: 15px;
    line-height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 8px;
    overflow: hidden;
}
.slick-dots li button{
    height: 10px;
    width: 10px;
    line-height: 17px;
    border-radius: 50%;
    color: transparent;
    border: none;
    background: #07947c;
    opacity: 0;
    transition: 0.5s all ease;
}
.slick-dots li.slick-active button{
    outline: none;
    opacity: 1;
}
/*-----banner part end-----*/


/*----about part start----*/
.about{
    padding: 130px 0;
}
.about-top{
    padding-bottom: 80px;
    max-width: 800px;
    margin: 0 auto;
}
.about-top h2{
  margin-bottom: 50px;
  font-size: 50px;
  color: #506a85;
}
.about-top p{
    font-size: 22px;
    color: #73879c;
}
.about-details h4{
    font-size: 35px;
    color: #506a85;
    padding-bottom: 25px;
}
.about-details p{
    color: #afb9c4;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;  
}
/*----about part end----*/


/*----service part start----*/
.services{
    background: #f2f5f7;
    padding: 130px 0;
}
.service-top h2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    padding-bottom: 22px;
    color:#506a85;
    font-weight: 700;
}
.service-top p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    padding-bottom: 80px;
    color:  #73879c;
    max-width: 750px;
    margin: 0 auto;
}

.card-body h5{
    color: #506a85;
    font-size:20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.card-body p{
    font-size: 14px;
    margin-bottom:0;
    color: #afb9c4;
    font-family: 'Source Sans Pro', sans-serif;
}
/*----service part end----*/

/*----service slider start----*/
.service-slider{
    padding-top: 80px;
}
.slider-images img{
    padding-left: 30px;
}

/*----service slider end----*/


/*----Work with us part start-----*/
.work-with-us{
   padding: 130px 0;
}
.work-content h2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #506a85;
}
.work-content p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #73879c;
    padding-top: 45px;
    padding-bottom: 70px;
    max-width: 750px;
    margin: 0 auto;

}
.work-content a{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffffff;
    background: #00bc9c;
    padding: 20px 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.work-content a:hover{
    color: aqua;
    background: #07947c;
}
/*----Work with us part end-----*/


/*---our work  part start-----*/
.our-work{
    padding: 130px 0;
    background: #2f4052;
}
.intro h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}
.intro img{
    padding: 25px 0px 25px 15px;
}
.intro p{
    color: #a3b1bf;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.intro h6{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color:#a3b1bf ;
}
.intro h6:hover{
    color: #2c97e8;
}
.latest-work h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom:25px;
}
.latest-work1{
    padding-bottom: 4px;
}
.get-in-touch h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom:22px;
}
.get-in-touch p{
    color: #a3b1bf;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.address1 p{
   margin-bottom: 5px;
   color: #a3b1bf;
   font-size: 14px;
   font-family: 'Source Sans Pro', sans-serif;
}
.free-update h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #00bc9c;
    font-weight: bold;
    padding-bottom:22px;
}
.free-update p{
    color: #00bc9c;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.text-field input{
    position: relative;
    background: #4e5c6c;
    color: #828e99;
}
.text-field .form-control{
    border: none;
}
.text-field .btn{
    border: none;
}
.btn-success {
    color: #fff;
    background-color:#00bc9c;
    border-color: #00bc9c;
}
.btn:focus, .btn:hover {
    text-decoration: none;
    background: #07947c;
}
.text-field button{
    position: absolute;
    top:47.7%;
    right: 6%;
}
.text-field .btn{
    padding: 3px 10px;
}
/*---our work  part end-----*/


/*----footer part start----*/
.footer{
    padding-top:35px;
    padding-bottom: 35px;
    background:#283645;
}
.copy-right p{
    padding-top: 15px;
    color: #a3b1bf;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.menu-details{
    color: #a3b1bf;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.menu-details ul li{
    list-style: none;
    float: left;
    padding-right: 20px;
    display: inline-block;
}
.menu-details .dot{
    padding-left: 15px;
}
/*----footer part start----*/